/* Login.css */
.login-container {
    margin-top: 100px;
    padding: 150px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(10, 9, 9, 0.1);
    }
    
    .login-heading {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    }
    
    .login-form {
    max-width: 400px;
    margin: 0 auto;
    }
    
    .login-form label {
    font-weight: bold;
    }
    
    .login-form .form-control {
    margin-bottom: 15px;
    }
    
    .login-form .error-text {
    color: #dc3545;
    font-size: 14px;
    margin-top: -2px;
    }
    
    .login-form .btn-info {
    width: 100%;
    }
    
    .login-footer {
    text-align: center;
    margin-top: 20px;
    }
    
    .login-footer a {
    color: #007bff;
    }
    .textcss{
    border: none;
    margin-bottom: 1px solid #fff;
    color: #fff;
    margin-bottom: 5px;
    /* padding:10px 0; */
    background-color: transparent;
    }
    
    /* --------------------------------------------------------------------- */
    
.name{
    overflow: hidden;
  }
  
  .name img{
    transform: all 1.5s ease;
  }
  
  .name img:hover{
    transform: scale(11.5s);
  }
  h2{
    font-family: 'Merriweather', serif;
  }
  p{
    font-family: 'Merriweather', serif;
  }
  h3{
    font-family: 'Heebo', sans-serif;
  font-family: 'Merriweather', serif;
  }
  h1{
    font-family: 'Heebo', sans-serif;
  font-family: 'Merriweather', serif;
  }
  nav
  {
    font-family: 'Heebo', sans-serif;
    font-family: 'Merriweather', serif;
  
  }
  .alertCss {
    margin-left: 170px;
  }
  
  /* Media query for screens with a maximum width of 768px */
  @media screen and (max-width: 768px) {
    .alertCss {
      margin-left: 90px; 
    }
  }
  /* body{
  background-color: red !important;
  } */
  
  
  
  /* .name img {
    transform: scale(1.5);
    transition: transform 1.55s;
    transition-timing-function: ease;
  } */
  .sidebar-offcanvas {
   background-color: #f8f9fa; /* Set the background color of the offcanvas */
  }
  
  .cart-items {
   list-style-type: none;
   padding: 0;
  }
  
  .cart-item {
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
  }
  
  .product-details {
   display: flex;
   align-items: center;
   width: 100%;
  }
  
  .product-image {
   margin-right: 1rem;
  }
  
  .product-info {
   flex-grow: 1;
  }
  
  .btn-success {
   background-color: #28a745;
   color: #fff;
   border-color: #28a745;
   padding: 0.5rem 1rem;
   font-size: 14px;
   margin-top: 1rem;
  }
  
  .btn-success:hover {
   background-color: #218838;
   border-color: #1e7e34;
  }
  
  