
footer{
    position: fixed;
   
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
.customcss{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 5rem;
   
}
